:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--color-gray-100);
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  max-width: 72rem; /* 1152px */
  margin-left: auto;
  margin-right: auto;
}

.main-container > *:not(:last-child) {
    margin-bottom: 2rem;
}
