.login-container {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1.5rem;
  border: 1px solid var(--color-gray-200);
  text-align: center;
  width: 100%;
  max-width: 28rem;
  margin-right: 170px;
}

@media (min-width: 640px) {
  .login-container {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .login-container {
    max-width: 32rem;
  }
}

.login-header {
  margin-bottom: 2rem;
}

.title-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.title-icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-blue-600);
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--color-slate-800);
}
@media (min-width: 640px) {
    .title {
        font-size: 2.25rem;
    }
}

.subtitle {
  color: var(--color-gray-500);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
    text-align: right;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray-700);
  margin-bottom: 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.5rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: var(--color-blue-500);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.error-message {
  color: var(--color-red-500);
  font-size: 0.875rem;
  font-weight: 500;
}

.submit-button {
  width: 100%;
  background-color: var(--color-blue-600);
  color: var(--color-white);
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.submit-button:hover {
  background-color: var(--color-blue-700);
}

.button-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.demo-accounts {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    color: var(--color-gray-400);
    text-align: right;
}

.demo-title {
    font-weight: bold;
}

.demo-subtitle {
    margin-bottom: 0.25rem;
}

.demo-list {
    list-style-position: inside;
    list-style-type: disc;
    columns: 2;
}
