

<div class="toast-container">
  @for (toast of toasts(); track toast.id) {
    <div
      class="toast-item animate-fade-in-right"
      [class.toast-success]="toast.type === 'success'"
      [class.toast-error]="toast.type === 'error'"
      [class.toast-info]="toast.type === 'info'"
      [class.toast-warn]="toast.type === 'warn'"
    >
      <div class="toast-message-content">
        <p class="toast-message-text">{{ toast.message }}</p>
      </div>
      <button
        (click)="removeToast(toast.id)"
        class="toast-close-button"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="toast-close-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  }
</div>
    